@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600')

*
  margin 0
  padding 0
  border 0

body
  font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
  background-color #f9f9f9
